<div class="descpage">
<div class="container">
    <h1 class="head"> <strong>CORONA VIRUS:</strong> </h1>
    <div class="row">
        <div class="col col-head">
            <img class="co-image" src="../../assets/coronaimage.jpg" alt="Corona image">
        </div>
    </div>
    <div class="row">
        <!-- <h1 class="side-head"><strong>CORONA VIRUS</strong></h1> -->
        <p></p>
        <p class="main-para">
            As per World Health Organization(WHO):<br><br>
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br><br>
            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
<br><br>
The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
<br><br>
The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
        </p>
    </div>
    <div class="row">
        <h1 class="side-head"><strong>Coronavirus: Symptoms, Precautions and Treatment</strong></h1>
        <h3>
            Coronavirus cause respiratory infections which are typically mild including the common cold to severe respiratory syndrome.
        </h3>
        <p class="main-para">
            Researcher discovered #Coronavirus in 1960. Coronavirus are a group of viruses generally that cause diseases in mammals and birds. This virus can be transmitted from animal to humans, the viruses cause respiratory infections which are typically mild including the common cold but rarer forms like Severe Acute Respiratory Syndrome (SARS) and Middle East Respiratory Syndrome (MERS) this can be life threatening.
        </p>
    </div>
    <div class="row">
        <h1 class="side-head">How does the virus spread? </h1>
        <div class="row">
        <div class="col col-head">
            <img class="co-image" src="../../assets/covsnee.JPG" alt="Corona image">
        </div>
        </div>
</div>
<div class="row">
        <ul><strong>Coronavirus most commonly spread from an infected person to others through:</strong>
        <li>Coughing and sneezing upto 2 to 3 ft</li>
        <li>Personal contact such as touching infected person’s mouth, nose, eye</li>
        <li>Object contaminated with infectious droplets </li>
        </ul>
</div>
<div class="row">
        <h1 class="side-head">COVID-19 CORONAVIRUS SYMPTOMS:</h1>
        <div class="row">
        <div class="col col-head">
            <img class="co-image" src="../../assets/covsymp.JPG" alt="Corona image">
        </div>
        </div>

    </div>
    <div class="row">
        <p class="main-para">Some people those are infected but don’t have any symptoms. Most of the infected people, around 75% to 80%, experienced mild symptoms. Coronavirus symptoms are similar to any other upper respiratory infection noticed common and serious symptoms.</p>
        </div>    
        <div class="row">
                
        <ul><strong>Most common symptoms:</strong>
        <li>Fever</li>
        <li>Coughing</li>
        <li>Tiredness or Fatigue</li>
        <li>Loss of taste or smell</li>
        </ul>
        </div>

        <div class="row">
        <ul><strong>Less Common Symptoms:</strong>
        <li>Headache</li>
        <li>Sore Throat</li>
        <li>Diarrhea</li>
        <li>Rashes on the skin</li>
        <li>Aches and pains</li>
        <li>Red or irritated eyes</li>
        </ul>
        </div>

        <div class="row">
        <ul><strong>Serious symptoms that require immediate medical attention:</strong>
        <li>Shortness of breath</li>
        <li>Difficulty breathing</li>
        <li>Loss of speech or mobility</li>
        <li>New confusion</li>
        <li>Chest pain</li>
        </ul>
        </div>
        <div class="row">
        <p class="main-para">Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health facility. </p>
        <br><p class="main-para">People with mild symptoms who are otherwise healthy should manage their symptoms at home. </p>
        <br><p class="main-para">In case of weaken immune system infection spreads to the lower respiratory tract (your windpipe and your lungs), it can cause lung infection (#pneumonia), #bronchitis, especially in older people, people with heart disease.</p>

        <br><br><p class="main-para">On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days. </p>
         
        </div>
    <div class="row">
        <h1 class="side-para">COVID-19 CORONAVIRUS PRECAUTIONS:</h1>
    
        <div class="col col-head">
            <img class="co-image" src="../../assets/covpre.JPG" alt="Corona image">
        </div>
</div>
<div class="row">
        <ul><strong>To prevent a coronavirus infection, follow these things:</strong>
        <li>Wash your hands thoroughly with soap and warm water or with an alcohol-based hand sanitizer</li>
        <li>Take hot shower or steamy shower to relieve sore, scratchy throat and cough</li>
        <li>Keep your hands and fingers away from your eyes, nose, and mouth</li>
        <li>Setup humidifier in your home</li>
        <li>Drink plenty of fluids</li>
        <li>Avoid close contact with people who are infected</li>
        <li>Consume only thoroughly cooked food and meat</li>
        <li>Avoid close contact those who are displaying symptoms</li>
        <li>Avoid direct contact with live animals</li>
        <li>Cover your mouth when coughing or sneezing</li>
        <li>Contact doctor if symptoms persist</li>
</ul>
</div>
<div class="row">
    <p class="main-para">For more information:
    </p>
    <div class="col">
    <a href="https://www.mohfw.gov.in/pdf/COVID19VaccineOG111Chapter16.pdf" target="blank">Covid-19 Vaccine Operational Guidelines</a>
    </div>
    <br>
    <div class="col">
    <a href="https://www.mohfw.gov.in/pdf/Covid19CommunicationStrategy2020.pdf" target="blank">Covid-19 Communication Strategy</a>
    </div>
</div>
</div>
</div>