<footer class="page-footer">

    <div class="footer">
        <!-- <div class="row">
            <ul class="ul-list">
                <li class="li-list">
                    Official Website References:
                </li>
                <li class="li-list">
                    <a href="https://www.mohfw.gov.in/">Ministry of Health and Family Welfare</a>
                </li>
                <li class="li-list">
                    <a href="https://www.cowin.gov.in/">Cowin</a>
                </li>
                <li class="li-list">
                    <a href="https://who.int/">WHO</a>
                </li>
                <li class="li-list">
                    <a>About</a>
                </li>
            </ul>
        </div> -->
        <!-- <div class="row">
            <div class="col rights"> -->
               Copyright ©Call For Code 2021.
            <!-- </div>
        </div> -->
    </div>
</footer>
