<p class="brainiac"><strong>Brainiac - The Bot uses Watson Assistant service to provide insights on Corona virus its symptoms and various treatment options</strong></p>
<div class="container">
  <div class="top-space shadow">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/covidfusion.jpg" alt="Covid status">
        <a href="https://dashboard.cowin.gov.in/" target="_blank">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Know Covid Status Of Your Place</h3>
        <a href="https://dashboard.cowin.gov.in/" target="_blank"><p>Click for more details</p></a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/cov19bottle.jpg" alt="vaccine details">
        <a href="https://www.cowin.gov.in/" target="_blank">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Vaccine Details</h3>
        <a href="https://www.cowin.gov.in/" target="_blank"><p>click for more details</p></a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/covidtreatment.jpeg" alt="Treatment">
        <a routerLink="/ambulance">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </a>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Treatment Availability</h3>
        <a routerLink="/ambulance"><p>Click for more details</p></a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  </div>
</div>
  <div class="middle">
    <!-- <div class="text-center cent-para" style="color:;"><strong>Covid Details</strong></div> -->

    <h4 class="text-center below-para" style="color: #5a5a5a; padding-top: 20px;"><strong>Stay Home, Wear Mask, Stay Safe !!!!</strong></h4>

  </div>

<div class="col">
  <!--Section: Magazine v.3-->
<section>

    <!-- Section heading -->
    <!-- <p class="text-center centpara"><strong>Covid Details</strong></p> -->
    
    <!-- Section description -->
    <!-- <p class="text-center below-para">Stay Home, Wear Mask, Stay Safe !!!!</p> -->
  
    <!-- Grid row -->
    <div class="row row-news">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
  
        <!-- Featured news -->
        <div class="single-news mb-3">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="../../assets/indiaworld1.jpg" alt="Corona status">
            <a href="https://www.mohfw.gov.in/" target="_blank">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <!-- <a href="#!"> -->
                <!-- <mdb-badge success="true">
                    <i class="fas fa-chart-pie"></i>Covid Status India</mdb-badge> -->
                    <div class="badge"><i class="fas fa-chart-pie pad"></i>Covid Status in India</div>
              <!-- </a> -->
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <!-- <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a class="font-weight-bold">This is title of the news</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div> -->
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a routerLink="/cov19" routerLinkActive="active">Covid-19 symptoms and precautions</a>
            </div>
            <a routerLink="/cov19" routerLinkActive="active" >
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>

        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="https://www.mohfw.gov.in/" target="_blank">Ministry of Health and Welfare reports - GOI</a>
            </div>
            <a href="https://www.mohfw.gov.in/" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>

        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="https://covid19.who.int/region/searo/country/in" target="_blank">Covid-19 status in India - WHO</a>
            </div>
            <a href="https://covid19.who.int/region/searo/country/in" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
  
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
  
        <!-- Featured news -->
        <div class="single-news">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="../../assets/coronavaccine.jpg" target="_blank" alt="vaccine details">
            <a href="https://www.cowin.gov.in/" target="_blank">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <!-- <a href="#!"> -->
                <!-- <mdb-badge success="true">
                    <i class="fas fa-prescription-bottle-alt"></i>Vaccine Details</mdb-badge> -->
              <!-- </a> -->
              <div class="badge"> <i class="fas fa-prescription-bottle-alt pad"></i>Vaccine Details</div>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <!-- <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a class="font-weight-bold">This is title of the news</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div> -->
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="https://vaccine.icmr.org.in/covid-19-vaccine" target="_blank">COVID-19 vaccines in India</a>
            </div>
            <a href="https://vaccine.icmr.org.in/covid-19-vaccine" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="https://www.cowin.gov.in/" target="_blank">Get your vaccine</a>
            </div>
            <a href="https://www.cowin.gov.in/" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="https://dashboard.cowin.gov.in/" target="_blank">Vaccination status in India</a>
            </div>
            <a href="https://dashboard.cowin.gov.in/" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured news -->
        <div class="single-news mb-3">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="../../assets/hostreat.jpg" alt="Treatment">
            <a routerLink="/ambulance">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <!-- <a href="#!"> -->
                <!-- <mdb-badge success="true">
                    <i class="fas fa-procedures"></i>Treatment</mdb-badge> -->
                    <div class="badge"> <i class="fas fa-procedures pad"></i>Treatment</div>
              <!-- </a> -->
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <!-- <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a class="font-weight-bold">This is title of the news</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div> -->
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a routerLink="/ambulance" routerLinkActive="active" >Ambulance services</a>
            </div>
            <a routerLink="/ambulance" routerLinkActive="active" >
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="../../assets/StatewiseCovidHospitalslink.pdf" target="_blank">COVID Facilities</a>
            </div>
            <a href="../../assets/StatewiseCovidHospitalslink.pdf" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a href="../../assets/COVID_Testing_Labs.pdf" target="_blank">Covid-19 Testing Labs in India</a>
            </div>
            <a href="../../assets/COVID_Testing_Labs.pdf" target="_blank">
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>
  
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!--Section: Magazine v.3-->
</div>


<!-- Chat-bot -->
<!-- <div class="chatbotPopup" id="mydiv" cdkDrag *ngIf="show">
  <div class="card" id="mydivheader">
    <div class="card-header">
      Chatbot
      <button class="btn btn-outline-warning float-right" (click)="show = !show">Close</button>
    </div>
    <div class="card-body">
         {{val}}
    </div> 
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <input #search class="form-control" [(ngModel)]="val" (keyup.enter)="sendMsg(search.value)">
          </div>
        </div>
         <div class="col-sm-3">
             <button class="btn btn-outline" (click)="sendMsg(val)">Send</button>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="chatIcon" (click)="show = !show">
  <img class="chatbotimg" src="../../assets/askme.jpg">

</div> -->
